body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D88A9;
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom: 10px solid #4D88A9;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(155, 155, 155, 0.25);
    background: #DAEFFB;
}

main{
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 1284px;
    min-width: 720px;
    align-items: center;
    height: calc(100vh - 150px);
    font-weight: 300;
    font-size: 16px;
    color: #6F6C6C;
}
.retornar{
    padding-top: 50px;
    margin-top: 10px;
    border-top: 2px solid #DAEFFB;
}
.coluna{
    display: flex;
}
.linha{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4D88A9;
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4D88A9; 
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #254D64;  
}
h4{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #4D88A9;

}
a{
    text-decoration: none;
    color: #4D88A9;
}