body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D88A9;
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom: 10px solid #4D88A9;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(155, 155, 155, 0.25);
    background: #DAEFFB;
}
.container-header{
    max-width: 1284px;
    min-width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
main{
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 1284px;
    min-width: 720px;
    align-items: center;
    height: calc(100vh - 150px);
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #6F6C6C;
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #4D88A9;
}
.logo{
    height: 30px;
}
#botoesacoes{
    margin-top: 20px;
    padding: 10px;
}